.logo-container {
  position: absolute;
  z-index: 2;
  top: 0;
  margin: 25px 20px;
  font-size: 2vw;
  color: var(--blue-dark);
  position: absolute;
  line-height: 0.4;
  cursor: default;
}

.logo {
  color: var(--blue-light-hover);
  font-size: .6em;
  position: relative;
  left: 5px;
}