/* Custom Properties */
:root {
  --blue-light: #dae3ff;
  --blue-light-hover: #CCDDFF;

  --blue-dark: #235aff;
  --blue-dark-hover: #1c4ad1;
}

* {
  padding: 0;
  margin: 0;
}

.landing-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  background-color: var(--blue-light);
}

/* Header Styles */

.auth {
  display: grid;
  height: 100vh;
  background-color: white;
}

.auth-head {
  margin: 0;
  padding-top: 1vh;
  height: 3rem;
}

/* Form Styles */

.auth-form {
  width: 100%;
  align-self: center;
  text-align: center;
  padding-bottom: 15%;
  margin-top: auto;
}

.auth-form__input {
  color: var(--blue-dark);
  background-color: var(--blue-light);
  border: none;
  border-radius: 5px;
  height: 3em;
  width: calc(60% - 15px);
  margin-bottom: 1em;
  line-height: 2.15;
  padding-left: 15px;
  transition: background-color 300ms;
}

.auth-form__input:hover, .auth-form__input:focus {
  background-color: var(--blue-light-hover);
  outline: none;
}

.auth-form__auth-code {
  top: 55%;
  position: absolute;
  width: 20vh;
  transition: transform 300ms;
  transform: translate();
}

.auth-form__auth-code__hidden {
  top: 55%;
  transform: translate(-200%);
  transition: transform 300ms;
  position: absolute;
  width: 20vh;
  opacity: 0;
}

.auth-form__input::placeholder {
  color: var(--blue-dark);
  text-align: left;
}

.auth-form__btn {
  display: inline-block;
  align-self: center;
  background-color: var(--blue-dark);
  color: var(--blue-light);
  height: 3em;
  width: 60%;
  box-shadow: none;
  border: none;
  border-radius: 5px;
  transition: background-color 300ms;
  outline: none;
  cursor: pointer;
}

.auth-form__btn:hover {
  background-color: var(--blue-dark-hover);
}

/* Footer Styles */

.footer-list {
  display: flex;
  align-self: end;
  padding-bottom: 1em;
  font-size: 20px;
}

.footer-list__register {
  color: var(--blue-dark);
  list-style: none;
  width: 50%;
  text-align: left;
  padding-left: 2.5em;
}

.footer-list__copy {
  color: var(--blue-dark);
  list-style: none;
  width: 50%;
  text-align: right;
  padding-right: 2.5em;
}

/* Right Image Styles */

.landing-logo {
  align-self: center;
  justify-self: center;
  max-height: 60vh;
  max-width: 60%;
  background-color: var(--blue-light);
}

.alert {
  position: absolute;
}