.performance-upload {
  z-index: 13;
  width: 25vw;
  height: 25vh;
  margin: auto;
  opacity: 1;
  background: white;
  display: flex;
  justify-content: center;
}

.performance-upload__form {
  display: flex;
  margin: auto;
}
