.performance-search {
  padding: 1em 0;
  width: 70%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  top: 25vh;
  height: 20%;
  border: var(--blue-dark) 0.5px solid;
  border-radius: 15px;
}

.performance-search__input {
  margin: auto;
  height: 1.5em;
  width: calc(65% - 10px);
  padding-left: 10px;
  border-radius: 8px;
  background: var(--blue-light);
  outline: none;
  color: var(--blue-dark);
  border: none;
}

.performance-search__input:hover, .performance-search__input:focus {
  background: var(--blue-light-hover);
}

.performance-search__input::placeholder {
  color: var(--blue-dark);
}

.performance-search__select {
  height: 1.5em;
  margin: auto;
  cursor: pointer;
  background: var(--blue-dark);
  color: var(--blue-light);
  width: 35%;
  padding-right: 5px;
  border: none;
  border-radius: 8px;
  direction: rtl;
  outline: none;
}

.performance-search__select:hover {
  background: var(--blue-dark-hover);
}