.performance {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.performance-controls {
  position: relative;
}

.performance-controls__back-btn {
  position: absolute;
  z-index: 2;
  line-height: 2em;
  text-align: center;
  top: 25px;
  right: 25px;
  padding: 0 15px;
  border-radius: 10px;
  height: 2em;
  cursor: pointer;
  background: var(--blue-dark);
  color: var(--blue-light); 
}

.performance-controls__back-btn:hover {
  background: var(--blue-dark-hover);
}

.performance-view {
  height: 100vh;
  background: var(--blue-light);
}

.performance-view__title {
  position: relative;
  cursor: default;
  color: var(--blue-dark);
  top: 25px;
  margin-left: 2.5vw;
}

.performance-view__upload-button {
  position: absolute;
  z-index: 2;
  line-height: 2em;
  text-align: center;
  top: 25px;
  right: 25px;
  border-radius: 10px;
  height: 2em;
  width: 15em;
  cursor: pointer;
  background: var(--blue-dark);
  color: var(--blue-light); 
}

.performance-view__upload-button:hover {
  background: var(--blue-dark-hover);
}
