.performance-display {
  top: 3%;
  border-radius: 20px;
  padding-top: 1em;
  width: 720px;
  height: 83%;
  margin: 4%;
  background: #235aff35;
  position: relative;
}

.performance-display h4 {
  color: var(--blue-dark-hover);
  position: relative;
  top: 1rem;
  left: 4rem;
}

.performance-display__inner {
  top: 3%;
  border-radius: 20px;
  width: 100%;
  height: 60%;
  margin: auto;
  padding: 0 1em;
  position: relative;
  overflow-y: scroll;
}

.performance-display__inner-tag, h3 {
  color: var(--blue-dark-hover);
}

.performance-display__inner::-webkit-scrollbar {
  color: blue;
  opacity: 0;
}

.performance-display__tags-list::before {
  transform: translateY(-1.5em);
}

.performance-display__tags-list {
  color: white;
  display: flex;
  position: relative;
  float: left;
  top: 5.8%;
  left: 5em;
  height: 1.7em;
  z-index: 0;
}

.performance-display__tag {
  background: var(--blue-dark);
  width: 100px;
  border-radius: 10px 10px 0 0;
  padding-top: 5px;
  margin: 0;
  text-align: center;
  margin-left: 1px;
  cursor: pointer;
}

.performance-display__tag:hover {
  background: var(--blue-dark-hover);
}

.performance-display__tag-active {
  color: var(--blue-dark);
  background: #235aff35;
  cursor: default;
}

.performance-display__tag-active:hover {
  background: #235aff35;
}

.performance-display__inner-tags {
  margin-top: 3em;
  display: grid;
  width: 84%;
  grid-template-columns: 2fr .9fr .9fr .9fr .9fr .9fr .9fr .9fr;
  list-style: none;
  text-align: center;
  padding-left: 8.5%;
  margin-bottom: -1em;
  font-size: 13px;
}

.no-data {
  font-size: 1.5em;
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 20% 0;
}
